body {
    display: grid;
    grid-template-columns: 550px auto;
    margin: 0;
    font-size: 20px;
}
.pp {
    position: absolute;
    margin-left: 110px;
    margin-top: 70px;
    width: 400px;
    height: 400px;
}
/* LEFT SIDE */
.left-side {
    background-color: rgb(10, 28, 190);
}
.left-container {
    margin-top: 600px;
    margin-left: 100px;
}
.left-title-box {
    background-color: rgb(251, 255, 0);
    color: rgb(243, 0, 0);
    width: 220px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}
.left-velue {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.left-list {
    margin-bottom: 10px;
}
.link-list {
    display: flex;
    text-decoration: none;
}
.link-list:link {
    color: rgb(0, 0, 0);
}
.link-list:visited {
    color: black;
}
.left-list-dot {
    height: 50px;
    width: 10px;
    background-color: rgb(0, 26, 255);
}
.left-list-icon {
    width: 50px;
    margin-bottom: -5px;
}
.left-list-text {
    border-bottom-style: solid;
    align-self: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}
.left-list-title {
    font-size: 23px;
    font-weight: bold;
    border-bottom-style: solid;
    border-color: white;
}
.left-list-time {
    font-weight: bold;
}
.left-subject-time {
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}
.left-subject-container {
    width: 380px;
    color: #000;
    background-color: #f1f1f1;
}
.left-subject-velue {
    padding: 0.01em 16px;
    text-align: center;
    color: #fff;
    background-color: #000;
}
/* RIGHT SIDE */
.right-side {
    background-color: rgb(187, 221, 37);
    color: rgb(0, 0, 0);
}
.name-container {
    margin-top: 150px;
    text-align: -webkit-right;
}
.name-profile {
    width: 700px;
    background-color: rgb(229, 255, 0);
    text-align: left;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name-profile-text {
    margin-left: 15px;
    flex-grow: 0;
    color: black;
}
.name-profile-divider-master {
    flex-grow: 1;
    margin-left: 15px;
}
.name-profile-divider {
    height: 10px;
    background-color: black;
}
.name-profile-divider-frist {
    margin-bottom: 10px;
    height: 5px;
    background-color: white;
}
.name-profile-divider-last {
    margin-top: 10px;
    height: 5px;
    background-color: white;
}
.nick-profil {
    text-align: left;
    width: 700px;
    font-size: 40px;
    font-weight: bold;
}
.nick-profil-box {
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    width: 400px;
    text-align: center;
}
.desc-first {
    margin-top: 50px;
    text-align: left;
    width: 700px;
}
.desc-first-text {
    width: 600px;
    text-align: justify;
}
.desc-last {
    margin-top: 20px;
    text-align: left;
    width: 700px;
}
.desc-last-text {
    width: 600px;
    text-align: justify;
}
.right-container {
    margin-top: 105px;
}
.right-title-box {
    background-color: rgb(15, 18, 190);
    color: rgb(216, 7, 7);
    width: 400px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}
.right-value {
    margin-left: 50px;
}
.right-title {
    font-size: 23px;
    font-weight: bold;
    margin-top: 25px;
    color: rgb(0, 0, 0);
}
.right-time {
    margin-top: 15px;
    width: 150px;
    border-bottom-style: solid;
    background-color: rgb(9, 0, 130);
    font-weight: bold;
}
.right-value-text {
    margin-top: 10px;
    text-align: justify;
    margin-right: 30px;
}
.right-value-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    font-size: 23px;
    font-weight: bold;
    color: white;
}
.right-value-item {
    width: 300px;
    margin: 10px auto;
    text-align: center;
}
.sosmed-container {
    margin-top: 25px;
    text-align: -webkit-right;
}
.sosmed-content {
    background-color: rgb(255, 145, 0);
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sosmed {
    margin-left: 15px;
    flex-grow: 0;
    color: black;
    display: flex;
}
.sosmed-text {
    letter-spacing: 3px;
    align-self: center;
    margin-right: 15px;
}
.sosmed-divider-master {
    flex-grow: 1;
    margin-left: 15px;
}
.sosmed-divider {
    height: 8px;
    background-color: black;
}
.sosmed-divider-first {
    margin-bottom: 10px;
    height: 3px;
    background-color: white;
}
.sosmed-divider-last {
    margin-top: 10px;
    height: 3px;
    background-color: white;
}